# [DART Open API] opendart.fss.or.kr 에서 발급받은 인증키 (무료)
DART_API_KEY=your_dart_api_key_here

# [한국투자증권 KIS Developers] apiportal.koreainvestment.com 모의투자 또는 실전 계좌 앱키/시크릿 (무료)
KIS_APP_KEY=your_kis_app_key_here
KIS_APP_SECRET=your_kis_app_secret_here
KIS_ACCOUNT_NO=your_kis_account_no_here
KIS_IS_SIMULATION=True

# [Alpha Vantage] www.alphavantage.co 에서 발급받은 무료 API 키
ALPHA_VANTAGE_API_KEY=your_alpha_vantage_key_here

# [네이버 검색 API] developers.naver.com (선택 사항)
NAVER_CLIENT_ID=your_naver_client_id_here
NAVER_CLIENT_SECRET=your_naver_client_secret_here
